<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/forget.css"></link>
</head>
<body>
	<header>
  <nav>
    <div id="logo"><img src="img/logo.png"/></div>
  </nav>
</header>
	<div id="login-box">
	<div id="login-box2">
	<br>
	<h1 style="color:#fff;"><center>Forgot password ?</center></h1>
	<hr style="color:#ffcc00; border-width: 3px;">
	<div class="container">
		<form>
			<br>
			<div class="form-input">
				<p style="color:#ffffff; font-size: 25px;"><b>Email address</b></p>
				<center><input type="email" name="email_a" placeholder="        Enter email address"><center>
			</div>
			<center><input type="submit" value="Submit" class="btn-reset"><center>
		</form>
	</div>
	</div>
	</div>
</body>

</html>